Source: sambaedu-wpkg
Section: net
Priority: extra
Maintainer: denis.bonnenfant@sambaedu.org
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: sambaedu-wpkg
Architecture: all
Replaces: se3-wpkg
Depends: sambaedu, unzip, xsltproc, cabextract, recode, wakeonlan, tofrodos, md5deep, xmlstarlet
Description: Paquet optionnel d'installation d'applications sur les clients windows avec wpkg.
