#!/bin/bash -e

# pose les questions de base pour la  conf 

# on charge le fichier /etc/sambaedu.conf si il existe

. /usr/share/debconf/confmodule
db_capb backup 
[ ! -e /usr/share/sambaedu/includes/config.inc.sh ] && exit 0
. /usr/share/sambaedu/includes/config.inc.sh
. /usr/share/sambaedu/includes/utils.inc.sh

# modele de conf par défaut
CONFIGFILE=/etc/sambaedu/sambaedu.conf.d/wpkg.conf
if [ ! -e $CONFIGFILE ]; then
	cp -a /usr/share/doc/sambaedu-wpkg/wpkg.conf.example $CONFIGFILE
fi
get_config
my_network
priority="medium"

# comptes adminse administrateur local des clients.

if [ -n "$config_wpkgroot" ]; then
   db_set sambaedu/wpkgroot "$config_wpkgroot" || true
else
		priority="high"
fi
db_input $priority sambaedu/adminse_name || true
db_go || true

if [ -n "$config_se3_name" ]; then
   db_set sambaedu/se3_name "$config_se3_name" || true
else
		priority="high"
fi

db_input $priority sambaedu/se3_name || true

db_go || true

