Source: se3-wpkg
Section: unknown
Priority: extra
Maintainer: jean <jean.lebail@etab.ac-caen.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: se3-wpkg
Architecture: all
Depends: se3 (>= 1.01), unzip, xsltproc, cabextract, recode, wakeonlan
Description: Paquet optionnel d'installation d'applications sur les clients windows avec wpkg.
 This package is used to install applications on the windows XP clients.
